@use 'base/variables' as v;
@use 'base/mixins' as m;


.acciones{
    padding: 0 2rem;
    margin-top: v.$separacion;

    @include m.tablet{
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
    }
    p{
        display: block;
        a{
            
            color: v.$bold;
            font-weight: 600;
            text-decoration:underline;
            color: v.$blanco;
            margin-bottom: calc(v.$separacion/2);
            text-align: center;
        }
    }
}