@use 'base/variables' as v;
@use 'base/mixins' as m;


.alerta{
    padding: calc(v.$separacion/4);
    color: v.$blanco;
    border-radius: 1rem;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: v.$bold;

    &.error{
        background-color: v.$rojo;
    }
    &.exito{
        background-color: v.$verde;
    }
}